{{ partial "header.html" . }}

<div class="main-content content" role="main" itemprop="mainContentOfPage">
	<article class="post">
		<header class="post__header clearfix">
			<h1 class="post__title">{{ .Title }}</h1>
		</header>
		<div class="post__content clearfix">
			{{- if .Params.thumbnail }}
			<figure class="post__thumbnail">
				<img src="{{ .Params.thumbnail | relURL }}" alt="{{ .Title }}">
			</figure>
			{{- end }}
			{{ .Content }}
		</div>
		{{ partial "post_tags.html" . }}
	</article>
	{{ partial "authorbox.html" . }}
	{{ partial "post_nav.html" . }}
	{{ partial "comments.html" . }}
</div>

{{ partial "footer.html" . }}
